@font-face {
   font-family: '思源黑体-Medium';
   font-display: swap;
   src: url('file:///C:/Users/dober/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-08-01_142739/fonts/%E6%80%9D%E6%BA%90%E9%BB%91%E4%BD%93-Medium/font.ttf');
}
